@color-nav-bg: #002060;
@color-text-ac01: #fff;
@color-active-bg: #1696e7;
@color-text-line: #ccc;
@color-text-border: #a0a0a0;
@color-sub01-bg: #f56986;

@font-normal: 16px;
@font-nav-lv2: 18px;
@font-header: 18px;